Repository salt-labs/containers, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Go, Rust, Docker, Shell, Nix

.github/labeler.yml:

##################################################
# Name: labeler.yml
# Description: Configuration for Label workflow
##################################################

# Add 'documentation' label to markdown file changes
Documentation:
  - docs/**
  - "*.md"

# Add 'go' label to all go file changes
Go:
  - "*.go"

# Add 'rust' label to all rust file changes
Rust:
  - "*.rs"

# Add 'docker' label to Dockerfile changes
Docker:
  - "Dockerfile"

# Add 'shell' label to bash shell scripts
Shell:
  - "*.sh"

# Add 'nix' label to Nix files
Nix:
  - "*.nix"

fix: yaml
  README.md
Labels: Documentation

fix: inputs
  flake.lock
  flake.nix
Labels: Nix

fix: refresh this
  .github/workflows/nix-flake-check.yaml
Labels: none

fix: accept flake config
  .github/workflows/devenv.yaml
  .github/workflows/nix-container.yaml
  .github/workflows/nix-flake-check.yaml
Labels: none

ci: Test CI
  docs/notes.md
Labels: Documentation

fix: remove hunspell
  nix/devshells/devenv/default.nix
Labels: none

fix(ci): add task package fallback and remove no-build flag from nix flake check
  .github/workflows/nix-flake-check.yaml
  nix/devshells/devenv/default.nix
Labels: none

fix(ci): add task package fallback to devenv.nix
  devenv.nix
Labels: Nix

fix: no tui
  .github/workflows/devenv.yaml
Labels: none

fix(ci): Fix CI (#196)
  .github/workflows/devenv.yaml
  .github/workflows/nix-flake-check.yaml
  devenv.nix
  docs/notes.md
  nix/devshells/devenv/default.nix
Labels: Documentation, Nix
