Repository salt-labs/containers, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Go, Rust, Docker, Shell, Nix

docs: Update README.md
  .github/workflows/nix-container.yml
  README.md
Labels: Documentation

Update README.md (#2)
  .github/workflows/nix-container.yml
  README.md
Labels: Documentation

feat: Add labels
  oci/_template/default.nix
  oci/brakeman/default.nix
  oci/buildah/default.nix
  oci/ci/default.nix
  oci/clair/default.nix
  oci/cmake/default.nix
  oci/codeql/default.nix
  oci/cosign/default.nix
  oci/flawfinder/default.nix
  oci/gitleaks/default.nix
  oci/gnumake/default.nix
  oci/gosec/default.nix
  oci/govc/default.nix
  oci/grype/default.nix
  oci/hadolint/default.nix
  oci/hello/default.nix
  oci/helm/default.nix
  oci/kics/default.nix
  oci/kpack/default.nix
  oci/kube-linter/default.nix
  oci/kubectl/default.nix
  oci/kubesec/default.nix
  oci/license_finder/default.nix
  oci/packer/default.nix
  oci/salt/default.nix
  oci/secretscanner/default.nix
  oci/semgrep/default.nix
  oci/skopeo/default.nix
  oci/snyk/default.nix
  oci/syft/default.nix
  oci/terraform-ls/default.nix
  oci/terraform/default.nix
  oci/tflint/default.nix
  oci/tfsec/default.nix
  oci/trivy/default.nix
Labels: none

fix: fix ci
  .github/workflows/nix-container.yml
Labels: none

feat: Add labels
  oci/_disabled_idem/default.nix
  oci/brakeman/default.nix
  oci/buildah/default.nix
  oci/carvel/default.nix
  oci/ci/default.nix
  oci/clair/default.nix
  oci/cmake/default.nix
  oci/codeql/default.nix
  oci/cosign/default.nix
  oci/flawfinder/default.nix
  oci/gitleaks/default.nix
  oci/gnumake/default.nix
  oci/gosec/default.nix
  oci/govc/default.nix
  oci/grype/default.nix
  oci/hadolint/default.nix
  oci/hello/default.nix
  oci/helm/default.nix
  oci/kics/default.nix
  oci/kpack/default.nix
  oci/kube-linter/default.nix
  oci/kubectl/default.nix
  oci/kubesec/default.nix
  oci/license_finder/default.nix
  oci/packer/default.nix
  oci/pivnet/default.nix
  oci/salt/default.nix
  oci/secretscanner/default.nix
  oci/semgrep/default.nix
  oci/skopeo/default.nix
  oci/snyk/default.nix
  oci/syft/default.nix
  oci/tanzu/default.nix
  oci/terraform-ls/default.nix
  oci/terraform/default.nix
  oci/tflint/default.nix
  oci/tfsec/default.nix
  oci/trivy/default.nix
Labels: none

docs: Add notes
  devshells/devenv/default.nix
  docs/notes.md
  oci/brakeman/default.nix
Labels: Documentation

feat: add auto-cleanup
  .github/workflows/cleanup.yaml
Labels: none

feat: add auto-cleanup
  .github/workflows/cleanup.yaml
Labels: none

feat: add auto-cleanup
  .github/workflows/cleanup.yaml
Labels: none

feat: add auto-cleanup
  .github/workflows/cleanup.yaml
Labels: none

feat: add auto-cleanup
  .github/workflows/cleanup.yaml
Labels: none

feat: add auto-cleanup
  .github/workflows/cleanup.yaml
Labels: none

feat: add auto-cleanup
  .github/workflows/cleanup.yaml
Labels: none

feat: add auto-cleanup
  .github/workflows/cleanup.yaml
Labels: none

feat: add auto-cleanup
  .github/workflows/cleanup.yaml
Labels: none

feat: add auto-cleanup
  .github/workflows/cleanup.yaml
Labels: none

feat: add auto-cleanup
  .github/workflows/cleanup.yaml
Labels: none

feat: add auto-cleanup
  .github/workflows/cleanup.yaml
Labels: none

feat: add auto-cleanup
  .github/workflows/cleanup.yaml
Labels: none

feat: add auto-cleanup
  .github/workflows/cleanup.yaml
Labels: none

feat: add auto-cleanup
  .github/workflows/cleanup.yaml
  .github/workflows/nix-container.yml
  scripts/functions.sh
Labels: none

feat: add auto-cleanup
  .github/workflows/cleanup.yaml
Labels: none

feat: add auto-cleanup
  .github/workflows/cleanup.yaml
  .github/workflows/nix-container.yml
Labels: none

feat: add auto-cleanup
  .github/workflows/cleanup.yaml
  .github/workflows/nix-container.yml
Labels: none

feat: add auto-cleanup
  scripts/oci.sh
Labels: none

feat: add auto-cleanup (#4)
  .github/workflows/cleanup.yaml
  .github/workflows/nix-container.yml
  scripts/functions.sh
  scripts/oci.sh
Labels: none

feat: always create latest tag
  scripts/functions.sh
Labels: none

feat: always create latest tag
  .github/workflows/nix-container.yml
  scripts/functions.sh
Labels: none

feat: trunk init
  .trunk/.gitignore
  .trunk/configs/.markdownlint.yaml
  .trunk/configs/.shellcheckrc
  .trunk/trunk.yaml
Labels: none

feat: Always create latest tag (#5)
  .github/workflows/nix-container.yml
  .trunk/.gitignore
  .trunk/configs/.markdownlint.yaml
  .trunk/configs/.shellcheckrc
  .trunk/trunk.yaml
  scripts/functions.sh
Labels: none

flake.lock: Update
  flake.lock
Labels: none

feat: Update CI container image
  .trunk/.gitignore
  .trunk/configs/.markdownlint.yaml
  .trunk/configs/.shellcheckrc
  .trunk/trunk.yaml
  devshells/devenv/default.nix
  flake.lock
  flake.nix
  oci/_disabled_idem/default.nix
  oci/_disabled_idem/idem.nix
  oci/_disabled_idem/poetry/default.nix
  oci/_disabled_idem/poetry/entrypoint/__init__.py
  oci/_disabled_idem/poetry/poetry.lock
  oci/_disabled_idem/poetry/pyproject.toml
  oci/_disabled_idem/python-packages.nix
  oci/_template/default.nix
  oci/_template/poetry/default.nix
  oci/_template/poetry/entrypoint/__init__.py
  oci/_template/poetry/poetry.lock
  oci/_template/poetry/pyproject.toml
  oci/ci/default.nix
  oci/ci/entrypoint/binaries.sh
  oci/ci/entrypoint/default.nix
  oci/ci/entrypoint/functions.sh
  oci/ci/entrypoint/wrapper.sh
Labels: Nix

feat: buildah wip
  README.md
  TEMP/Examples/buildah.gitlab-ci.yml
  TEMP/Examples/debug.gitlab-ci.yml
  TEMP/Examples/kaniko.gitlab-ci.yml
  TEMP/Examples/lint.gitlab-ci.yml
  TEMP/Examples/mattermost.gitlab-ci.yml
  TEMP/Examples/message.gitlab-ci.yml
  TEMP/Examples/publish_ansible.gitlab-ci.yml
  TEMP/Examples/release_semver.gitlab-ci.yml
  TEMP/Examples/sast.gitlab-ci.yml
  TEMP/Examples/skopeo.gitlab-ci.yml
  TEMP/Examples/vra.gitlab-ci.yml
  TEMP/Jobs/ansible_collection.gitlab-ci.yml
  TEMP/Jobs/buildah.gitlab-ci.yml
  TEMP/Jobs/debug.gitlab-ci.yml
  TEMP/Jobs/kaniko.gitlab-ci.yml
  TEMP/Jobs/kics.gitlab-ci.yml
  TEMP/Jobs/markdownlint.gitlab-ci.yml
  TEMP/Jobs/mattermost.gitlab-ci.yml
  TEMP/Jobs/megalinter.gitlab-ci.yml
  TEMP/Jobs/message.gitlab-ci.yml
  TEMP/Jobs/publish.gitlab-ci.yml
  TEMP/Jobs/pythonlint.gitlab-ci.yml
  TEMP/Jobs/semver.gitlab-ci.yml
  TEMP/Jobs/skopeo.gitlab-ci.yml
  TEMP/Jobs/super-linter.gitlab-ci.yml
  TEMP/Jobs/tag.gitlab-ci.yml
  TEMP/Jobs/vra_build.gitlab-ci.yml
  TEMP/Jobs/vra_teardown.gitlab-ci.yml
  TEMP/Jobs/yamllint.gitlab-ci.yml
  TEMP/NOTES.md
  TEMP/Workflows/debug.gitlab-ci.yml
  TEMP/Workflows/lint.gitlab-ci.yml
  TEMP/Workflows/release_semver.gitlab-ci.yml
  TEMP/Workflows/sast.gitlab-ci.yml
  devshells/devenv/default.nix
  oci/ci/default.nix
  oci/ci/entrypoint/binaries.sh
  oci/ci/entrypoint/functions.sh
  oci/ci/entrypoint/wrapper.sh
Labels: Documentation

feat: buildah wip
  TEMP/NOTES.md
  oci/ci/default.nix
Labels: none

feat: buildah wip
  oci/ci/default.nix
Labels: none

feat: buildah wip
  flake.lock
Labels: none

fix: lint
  flake.lock
Labels: none

fix: lint
  devshells/devenv/default.nix
Labels: none

fix: lint
  .github/workflows/nix-container.yml
Labels: none

fix: lint
  .github/workflows/nix-container.yml
Labels: none

.github/labeler.yml:

##################################################
# Name: labeler.yml
# Description: Configuration for Label workflow
##################################################

# Add 'documentation' label to markdown file changes
Documentation:
  - docs/**
  - "*.md"

# Add 'go' label to all go file changes
Go:
  - "*.go"

# Add 'rust' label to all rust file changes
Rust:
  - "*.rs"

# Add 'docker' label to Dockerfile changes
Docker:
  - "Dockerfile"

# Add 'shell' label to bash shell scripts
Shell:
  - "*.sh"

# Add 'nix' label to Nix files
Nix:
  - "*.nix"
