Repository salt-labs/containers, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Go, Rust, Docker, Shell, Nix

docs: Add commands
  .github/workflows/containers.yaml
Labels: none

docs: Add commands
  devenv/containers/test/devenv.nix
Labels: none

docs: Add commands
  devenv.lock
  devenv.nix
  devenv.yaml
Labels: Nix

ci: Test CI
  .github/workflows/containers.yaml
  devenv.nix
  devenv.yaml
Labels: Nix

ci: Test CI
  .github/workflows/cleanup.yaml
  .github/workflows/containers.yaml
  .github/workflows/nix-container.yaml.disabled
  .github/workflows/nix-flake-check.yaml.disabled
  .github/workflows/nix-flake-update.yaml.disabled
  .github/workflows/update.yaml
  devenv.nix
Labels: Nix

ci: Test CI
  .github/workflows/containers.yaml
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
  .github/workflows/update.yaml
Labels: none

ci: Test CI
  devenv/containers/k8s-tools/devenv.nix
  devenv/containers/test/devenv.nix
Labels: none

ci: Test CI
  devenv.lock
  devenv/containers/k8s-tools/devenv.nix
  devenv/containers/test/devenv.nix
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
  .github/workflows/devenv.yaml
  .github/workflows/update.yaml
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
  devenv/containers/k8s-tools/default.nix.disabled
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
  .github/workflows/devenv.yaml
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
Labels: none

ci: Test CI
  devenv/containers/k8s-tools/devenv.nix
Labels: none

ci: Test CI
  devenv/containers/k8s-tools/devenv.nix
  devenv/containers/test/devenv.nix
Labels: none

ci: Test CI
  devenv/containers/k8s-tools/devenv.nix
Labels: none

ci: Test CI
  devenv/containers/test/devenv.nix
Labels: none

ci: Test CI
  devenv/containers/k8s-tools/devenv.nix
  devenv/containers/test/devenv.nix
Labels: none

ci: Test CI
  devenv/containers/k8s-tools/devenv.nix
Labels: none

ci: Test CI
  devenv/containers/k8s-tools/devenv.nix
Labels: none

ci: Test CI
  devenv/containers/k8s-tools/devenv.nix
Labels: none

ci: Test CI
  devenv.nix
  devenv/containers/test/devenv.nix
Labels: Nix

ci: Test CI
  .github/workflows/containers.yaml
  devenv.lock
  devenv.nix
Labels: Nix

ci: Test CI
  devenv.nix
Labels: Nix

ci: Test CI
  .github/workflows/containers.yaml
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
  devenv.nix
Labels: Nix

ci: Test CI
  .github/workflows/containers.yaml
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
  devenv.lock
  devenv.yaml
Labels: none

ci: Test CI
  devenv.lock
  devenv.yaml
Labels: none

ci: Test CI
  devenv.lock
  devenv.yaml
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
  README.md
Labels: Documentation

ci: Test CI
  devenv/containers/test/devenv.nix
Labels: none

ci: Test CI
  devenv/containers/test/devenv.nix
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
  devenv.yaml
Labels: none

.github/labeler.yml:

##################################################
# Name: labeler.yml
# Description: Configuration for Label workflow
##################################################

# Add 'documentation' label to markdown file changes
Documentation:
  - docs/**
  - "*.md"

# Add 'go' label to all go file changes
Go:
  - "*.go"

# Add 'rust' label to all rust file changes
Rust:
  - "*.rs"

# Add 'docker' label to Dockerfile changes
Docker:
  - "Dockerfile"

# Add 'shell' label to bash shell scripts
Shell:
  - "*.sh"

# Add 'nix' label to Nix files
Nix:
  - "*.nix"
