Repository salt-labs/containers, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Go, Rust, Docker, Shell, Nix

ci: Test CI
  .github/workflows/containers.yaml
Labels: none

ci: Test CI
  devenv.nix
  devenv.yaml
Labels: Nix

refactor: in case of fire
  .github/workflows/containers.yaml
  devenv.nix
Labels: Nix

flake.lock: Update
  flake.lock
Labels: none

fix: Cleanup mess
  .github/workflows/shipit.yaml
Labels: none

feat: Ship It (#139)
  .github/workflows/shipit.yaml
Labels: none

chore: Update
  devenv.lock
  flake.lock
  flake.nix
Labels: Nix

fix: cachix
  .github/workflows/devenv.yaml
  .github/workflows/nix-container.yaml
  .github/workflows/nix-flake-check.yaml
  .github/workflows/nix-flake-update.yaml
Labels: none

fix: PRs
  .github/workflows/nix-flake-update.yaml
Labels: none

fix: impure
  .github/workflows/devenv.yaml
  scripts/oci.sh
Labels: none

fix: check
  .github/workflows/nix-flake-check.yaml
Labels: none

fix: cleanup
  .devcontainer.json
  .envrc
  .typos.toml
  flake.nix
  nix/devshells/devenv/default.nix
  nix/oci/_disabled_k8s-tools/default.nix
  nix/oci/_disabled_tanzu-podman/default.nix
  nix/oci/k8s-tools/default.nix
Labels: Nix

fix: bump
  .github/workflows/nix-flake-update.yaml
Labels: none

text: Try rolling
  flake.lock
  flake.nix
  nix/devshells/devenv/default.nix
  nix/oci/k8s-tools/default.nix
Labels: Nix

ci: Test
  .github/workflows/nix-container.yaml
  .github/workflows/nix-flake-check.yaml
Labels: none

fix: time
  nix/oci/k8s-tools/default.nix
Labels: none

ci: Make CI work
  .github/workflows/nix-flake-check.yaml
  nix/oci/k8s-tools/default.nix
Labels: none

fix: python
  nix/devshells/devenv/default.nix
Labels: none

fix: #175125
  .typos.toml
  nix/oci/k8s-tools/default.nix
Labels: none

fix: #175125
  nix/oci/k8s-tools/default.nix
Labels: none

fix: check signing
  .github/workflows/shipit.yaml
Labels: none

chore: Update (#140)
  .devcontainer.json
  .envrc
  .github/workflows/devenv.yaml
  .github/workflows/nix-container.yaml
  .github/workflows/nix-flake-check.yaml
  .github/workflows/nix-flake-update.yaml
  .github/workflows/shipit.yaml
  .typos.toml
  devenv.lock
  flake.lock
  flake.nix
  nix/devshells/devenv/default.nix
  nix/oci/_disabled_k8s-tools/default.nix
  nix/oci/_disabled_tanzu-podman/default.nix
  nix/oci/k8s-tools/default.nix
  scripts/oci.sh
Labels: Nix

chore: rebase
  .github/workflows/shipit.yaml
  .typos.toml
Labels: none

fix: fine print
  .github/workflows/shipit.yaml
Labels: none

fix: bump flake.lock automatically (#146)
  .github/workflows/shipit.yaml
  .typos.toml
Labels: none

fix: auto prs
  .github/workflows/shipit.yaml
Labels: none

fix: auto prs (#149)
  .github/workflows/shipit.yaml
Labels: none

chore: update devenv
  .devcontainer.json
  .typos.toml
  devenv.lock
  devenv.nix
  devenv.yaml
Labels: Nix

feat: migrate to devenv start
  .devcontainer.json
  .envrc
  .github/workflows/containers.yaml
  .github/workflows/devenv.yaml
  .github/workflows/nix-container.yaml
  .github/workflows/nix-flake-check.yaml
  .github/workflows/nix-flake-update.yaml
  .typos.toml
  devenv.lock
  devenv.nix
  devenv.yaml
  devenv/containers/test/devenv.nix
  flake.lock
  flake.nix
  nix/oci/_disabled_k8s-tools/root/etc/skel/.config/bash/kubernetes.sh
  nix/oci/_disabled_k8s-tools/root/etc/skel/.dialogrc/yellow
  nix/oci/_disabled_k8s-tools/root/usr/local/bin/tanzu_tools.sh
  nix/oci/k8s-tools/root/etc/skel/.config/bash/kubernetes.sh
  nix/oci/k8s-tools/root/etc/skel/.dialogrc/yellow
  nix/oci/k8s-tools/root/usr/local/bin/k8s_tools_tanzu.sh
Labels: Nix

ci: update workflow
  .github/workflows/containers.yaml
  .github/workflows/devenv.yaml
Labels: none

ci: update workflow
  .github/workflows/containers.yaml
  .github/workflows/devenv.yaml
Labels: none

fix: cleanup
  .github/workflows/containers.yaml
  .github/workflows/devenv.yaml
  .github/workflows/shipit.yaml
  README.md
  devenv.lock
  devenv.nix
  scripts/oci.sh
Labels: Documentation, Nix

chore: make it build again
  .devcontainer/devcontainer.json
  flake.lock
  nix/devshells/devenv/default.nix
  nix/oci/k8s-tools/default.nix
Labels: none

fix: update git-hooks input
  flake.lock
  flake.nix
Labels: Nix

chore: make it build again
  flake.lock
  flake.nix
Labels: Nix

refactor: cleanup
  flake.nix
  nix/oci/_disabled_codestream-ci/default.nix
  nix/oci/snyk/default.nix
Labels: Nix

fix: new package names
  nix/oci/_disabled_codestream-ci/default.nix
Labels: none

fix: snyk was being sneaky
  nix/oci/snyk/default.nix
Labels: none

fix: kpack
  flake.nix
  nix/devshells/devenv/default.nix
  nix/oci/kpack/kpack.nix
Labels: Nix

fix: kpack
  docs/notes.md
  flake.nix
  nix/oci/kpack/kpack.nix
Labels: Documentation, Nix

.github/labeler.yml:

##################################################
# Name: labeler.yml
# Description: Configuration for Label workflow
##################################################

# Add 'documentation' label to markdown file changes
Documentation:
  - docs/**
  - "*.md"

# Add 'go' label to all go file changes
Go:
  - "*.go"

# Add 'rust' label to all rust file changes
Rust:
  - "*.rs"

# Add 'docker' label to Dockerfile changes
Docker:
  - "Dockerfile"

# Add 'shell' label to bash shell scripts
Shell:
  - "*.sh"

# Add 'nix' label to Nix files
Nix:
  - "*.nix"
