Repository salt-labs/containers, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Go, Rust, Docker, Shell, Nix

.github/labeler.yml:

##################################################
# Name: labeler.yml
# Description: Configuration for Label workflow
##################################################

# Add 'documentation' label to markdown file changes
Documentation:
  - docs/**
  - "*.md"

# Add 'go' label to all go file changes
Go:
  - "*.go"

# Add 'rust' label to all rust file changes
Rust:
  - "*.rs"

# Add 'docker' label to Dockerfile changes
Docker:
  - "Dockerfile"

# Add 'shell' label to bash shell scripts
Shell:
  - "*.sh"

# Add 'nix' label to Nix files
Nix:
  - "*.nix"

fix: fixes
  TEMP/pipeline.yaml
  oci/codestream-ci/entrypoint/binaries.sh
Labels: none

ci: demo
  oci/codestream-ci/entrypoint/binaries.sh
Labels: none

ci: demo
  oci/codestream-ci/entrypoint/binaries.sh
Labels: none

fix: spelling
  TEMP/NOTES.md
  oci/codestream-ci/default.nix
  oci/codestream-ci/entrypoint/binaries.sh
  oci/codestream-ci/entrypoint/wrapper.sh
  scripts/hello.sh
Labels: none

fix: typos
  .github/dependabot.yml
  SECURITY.md
  TEMP/Jobs/tag.gitlab-ci.yml
Labels: Documentation

feat: update
  TEMP/Examples/buildah.gitlab-ci.yml
  TEMP/Examples/debug.gitlab-ci.yml
  TEMP/Examples/kaniko.gitlab-ci.yml
  TEMP/Examples/lint.gitlab-ci.yml
  TEMP/Examples/mattermost.gitlab-ci.yml
  TEMP/Examples/message.gitlab-ci.yml
  TEMP/Examples/publish_ansible.gitlab-ci.yml
  TEMP/Examples/release_semver.gitlab-ci.yml
  TEMP/Examples/sast.gitlab-ci.yml
  TEMP/Examples/skopeo.gitlab-ci.yml
  TEMP/Examples/vra.gitlab-ci.yml
  TEMP/Jobs/ansible_collection.gitlab-ci.yml
  TEMP/Jobs/buildah.gitlab-ci.yml
  TEMP/Jobs/debug.gitlab-ci.yml
  TEMP/Jobs/kaniko.gitlab-ci.yml
  TEMP/Jobs/kics.gitlab-ci.yml
  TEMP/Jobs/markdownlint.gitlab-ci.yml
  TEMP/Jobs/mattermost.gitlab-ci.yml
  TEMP/Jobs/megalinter.gitlab-ci.yml
  TEMP/Jobs/message.gitlab-ci.yml
  TEMP/Jobs/publish.gitlab-ci.yml
  TEMP/Jobs/pythonlint.gitlab-ci.yml
  TEMP/Jobs/semver.gitlab-ci.yml
  TEMP/Jobs/skopeo.gitlab-ci.yml
  TEMP/Jobs/super-linter.gitlab-ci.yml
  TEMP/Jobs/tag.gitlab-ci.yml
  TEMP/Jobs/vra_build.gitlab-ci.yml
  TEMP/Jobs/vra_teardown.gitlab-ci.yml
  TEMP/Jobs/yamllint.gitlab-ci.yml
  TEMP/NOTES.md
  TEMP/Workflows/debug.gitlab-ci.yml
  TEMP/Workflows/lint.gitlab-ci.yml
  TEMP/Workflows/release_semver.gitlab-ci.yml
  TEMP/Workflows/sast.gitlab-ci.yml
  TEMP/kaniko.gitlab-ci.yml
  flake.lock
Labels: none

feat: Add urgent status checks :grin:
  .github/workflows/nix-container.yml
  .prettierrc.yaml
  devshells/devenv/.linters/.prettierrc.yaml
Labels: none

feat: update
  .github/workflows/nix-container.yml
Labels: none

feat: may as well add loopy
  .github/workflows/comments.yaml
  .github/workflows/nix-container.yml
  .github/workflows/nix-flake-check.yml
  flake.lock
  flake.nix
  oci/codestream-ci/default.nix
  oci/loopy/default.nix
Labels: Nix

flake.lock: Update
  flake.lock
Labels: none

feat: Add hugo and caddy containers
  .devcontainer.json
  devshells/devenv/default.nix
  flake.nix
  oci/caddy/default.nix
  oci/caddy/entrypoint/default.nix
  oci/caddy/entrypoint/functions.sh
  oci/caddy/entrypoint/wrapper.sh
  oci/hugo/default.nix
  oci/hugo/entrypoint/default.nix
  oci/hugo/entrypoint/functions.sh
  oci/hugo/entrypoint/wrapper.sh
Labels: Nix

fix: WIP
  oci/caddy/entrypoint/wrapper.sh
Labels: none

fix: WIP
  oci/caddy/entrypoint/wrapper.sh
Labels: none

fix: WIP
  oci/caddy/entrypoint/wrapper.sh
Labels: none

fix: WIP
  oci/caddy/entrypoint/wrapper.sh
Labels: none

fix: WIP
  oci/caddy/entrypoint/wrapper.sh
  oci/hugo/entrypoint/wrapper.sh
Labels: none

chore: Update flake.lock
  devshells/devenv/default.nix
  flake.lock
  oci/hugo/entrypoint/wrapper.sh
Labels: none

chore: Update flake.lock
  flake.lock
  oci/caddy/entrypoint/wrapper.sh
Labels: none

fix: Disable codestream-ci
  flake.nix
Labels: Nix

test: Cachix
  .github/workflows/nix-container.yml
  oci/tanzu/tanzu_1.nix
Labels: none

test: Cachix
  oci/_codestream-ci/default.nix
  oci/_codestream-ci/entrypoint/binaries.sh
  oci/_codestream-ci/entrypoint/default.nix
  oci/_codestream-ci/entrypoint/functions.sh
  oci/_codestream-ci/entrypoint/wrapper.sh
Labels: none

test: Cachix
  .github/workflows/nix-flake-check.yml
Labels: none

test: Cachix
  .github/workflows/nix-container.yml
Labels: none

test: Cachix
  flake.nix
  oci/_loopy/default.nix
Labels: Nix

feat: New containers (#14)
  .devcontainer.json
  .github/workflows/comments.yaml
  .github/workflows/nix-container.yml
  .github/workflows/nix-flake-check.yml
  devshells/devenv/default.nix
  flake.lock
  flake.nix
  oci/_codestream-ci/default.nix
  oci/_codestream-ci/entrypoint/binaries.sh
  oci/_codestream-ci/entrypoint/default.nix
  oci/_codestream-ci/entrypoint/functions.sh
  oci/_codestream-ci/entrypoint/wrapper.sh
  oci/_loopy/default.nix
  oci/caddy/default.nix
  oci/caddy/entrypoint/default.nix
  oci/caddy/entrypoint/functions.sh
  oci/caddy/entrypoint/wrapper.sh
  oci/hugo/default.nix
  oci/hugo/entrypoint/default.nix
  oci/hugo/entrypoint/functions.sh
  oci/hugo/entrypoint/wrapper.sh
  oci/tanzu/tanzu_1.nix
Labels: Nix

fix: mmm
  flake.nix
Labels: Nix

fix: mmm
  .github/workflows/nix-container.yml
Labels: none

fix: mmm
  .github/workflows/nix-container.yml
Labels: none

ci: Update CI
  .github/workflows/nix-container.yml
  flake.nix
Labels: Nix

fix: Disable broken ones for now
  oci/_disabled_codestream-ci/default.nix
  oci/_disabled_codestream-ci/entrypoint/binaries.sh
  oci/_disabled_codestream-ci/entrypoint/default.nix
  oci/_disabled_codestream-ci/entrypoint/functions.sh
  oci/_disabled_codestream-ci/entrypoint/wrapper.sh
  oci/_disabled_loopy/default.nix
  oci/_disabled_tanzu/default.nix
  oci/_disabled_tanzu/tanzu_1.nix
  oci/_disabled_tanzu/tanzu_2.nix
Labels: none

fix: grr
  .github/workflows/nix-flake-check.yml
Labels: none

fix: grr
  flake.nix
Labels: Nix

fix: grr
  .github/workflows/nix-container.yml
Labels: none

fix: grr
  .gitmodules
  devshells/devenv/.linters/.prettierrc.yaml
  devshells/devenv/.linters/.yaml-lint.yaml
Labels: none

Removed submodule
  devshells/devenv/.linters/LICENSE
  devshells/devenv/.linters/README.md
  devshells/devenv/.linters/config/.ansible-lint.yml
  devshells/devenv/.linters/config/.cfnlintrc.yml
  devshells/devenv/.linters/config/.chktexrc
  devshells/devenv/.linters/config/.clj-kondo/config.edn
  devshells/devenv/.linters/config/.coffee-lint.json
  devshells/devenv/.linters/config/.ecrc
  devshells/devenv/.linters/config/.eslintrc.yml
  devshells/devenv/.linters/config/.flake8
  devshells/devenv/.linters/config/.golangci.yml
  devshells/devenv/.linters/config/.groovylintrc.json
  devshells/devenv/.linters/config/.hadolint.yaml
  devshells/devenv/.linters/config/.htmlhintrc
  devshells/devenv/.linters/config/.lintr
  devshells/devenv/.linters/config/.luacheckrc
  devshells/devenv/.linters/config/.markdownlint.yml
  devshells/devenv/.linters/config/.mega-linter.yml
  devshells/devenv/.linters/config/.openapirc.yml
  devshells/devenv/.linters/config/.perlcriticrc
  devshells/devenv/.linters/config/.prettierrc.yaml
  devshells/devenv/.linters/config/.protolintrc.yml
  devshells/devenv/.linters/config/.python-black
  devshells/devenv/.linters/config/.python-lint
  devshells/devenv/.linters/config/.ruby-lint.yml
  devshells/devenv/.linters/config/.snakefmt.toml
  devshells/devenv/.linters/config/.sql-config.json
  devshells/devenv/.linters/config/.sqlfluff
  devshells/devenv/.linters/config/.stylelintrc.json
  devshells/devenv/.linters/config/.textlintrc
  devshells/devenv/.linters/config/.tflint.hcl
  devshells/devenv/.linters/config/.yamllint.yml
  devshells/devenv/.linters/config/analysis_options.yml
  devshells/devenv/.linters/config/hunspell.conf
  devshells/devenv/.linters/config/sun_checks.xml
  devshells/devenv/.linters/config/tsconfig.json
Labels: none

fix: grr
  devshells/devenv/.linters/LICENSE
  devshells/devenv/.linters/README.md
  devshells/devenv/.linters/config/.ansible-lint.yml
  devshells/devenv/.linters/config/.cfnlintrc.yml
  devshells/devenv/.linters/config/.chktexrc
  devshells/devenv/.linters/config/.clj-kondo/config.edn
  devshells/devenv/.linters/config/.coffee-lint.json
  devshells/devenv/.linters/config/.ecrc
  devshells/devenv/.linters/config/.eslintrc.yml
  devshells/devenv/.linters/config/.flake8
  devshells/devenv/.linters/config/.golangci.yml
  devshells/devenv/.linters/config/.groovylintrc.json
  devshells/devenv/.linters/config/.hadolint.yaml
  devshells/devenv/.linters/config/.htmlhintrc
  devshells/devenv/.linters/config/.lintr
  devshells/devenv/.linters/config/.luacheckrc
  devshells/devenv/.linters/config/.markdownlint.yml
  devshells/devenv/.linters/config/.mega-linter.yml
  devshells/devenv/.linters/config/.openapirc.yml
  devshells/devenv/.linters/config/.perlcriticrc
  devshells/devenv/.linters/config/.prettierrc.yaml
  devshells/devenv/.linters/config/.protolintrc.yml
  devshells/devenv/.linters/config/.python-black
  devshells/devenv/.linters/config/.python-lint
  devshells/devenv/.linters/config/.ruby-lint.yml
  devshells/devenv/.linters/config/.snakefmt.toml
  devshells/devenv/.linters/config/.sql-config.json
  devshells/devenv/.linters/config/.sqlfluff
  devshells/devenv/.linters/config/.stylelintrc.json
  devshells/devenv/.linters/config/.textlintrc
  devshells/devenv/.linters/config/.tflint.hcl
  devshells/devenv/.linters/config/.yamllint.yml
  devshells/devenv/.linters/config/analysis_options.yml
  devshells/devenv/.linters/config/hunspell.conf
  devshells/devenv/.linters/config/sun_checks.xml
  devshells/devenv/.linters/config/tsconfig.json
Labels: none

fix: grr
  .envrc
  .gitmodules
  .prettierrc.yaml
  devshells/devenv/default.nix
Labels: none

fix: grr
  oci/hugo/entrypoint/wrapper.sh
Labels: none

fix: Disable broken containers
  .envrc
  .github/workflows/nix-container.yml
  .github/workflows/nix-flake-check.yml
  .gitmodules
  .prettierrc.yaml
  devshells/devenv/.linters/.prettierrc.yaml
  devshells/devenv/.linters/.yaml-lint.yaml
  devshells/devenv/default.nix
  flake.nix
  oci/_disabled_codestream-ci/default.nix
  oci/_disabled_codestream-ci/entrypoint/binaries.sh
  oci/_disabled_codestream-ci/entrypoint/default.nix
  oci/_disabled_codestream-ci/entrypoint/functions.sh
  oci/_disabled_codestream-ci/entrypoint/wrapper.sh
  oci/_disabled_loopy/default.nix
  oci/_disabled_tanzu/default.nix
  oci/_disabled_tanzu/tanzu_1.nix
  oci/_disabled_tanzu/tanzu_2.nix
  oci/hugo/entrypoint/wrapper.sh
Labels: Nix

test: Test Portal
  oci/caddy/default.nix
  oci/caddy/entrypoint/wrapper.sh
  scripts/oci.sh
Labels: none
