Repository salt-labs/containers, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Go, Rust, Docker, Shell, Nix

chore: Update Nix flake
  flake.lock
Labels: none

fix: gpg stdout (#107)
  flake.lock
  nix/oci/k8s-tools/default.nix
  nix/oci/k8s-tools/root/usr/local/bin/k8s_tools.sh
Labels: none

fix: calver
  nix/oci/_disabled_k8s-tools/default.nix
  nix/oci/_disabled_podman/default.nix
  nix/oci/_disabled_tanzu-podman/default.nix
  nix/oci/k8s-tools/default.nix
Labels: none

feat: Pull-through for multi-sites
  nix/oci/k8s-tools/README.md
  nix/oci/k8s-tools/root/usr/local/bin/k8s_tools_tanzu.sh
Labels: none

feat: Pull-through for multi-sites (#109)
  nix/oci/k8s-tools/README.md
  nix/oci/k8s-tools/root/usr/local/bin/k8s_tools_tanzu.sh
Labels: none

flake.lock: Update
  flake.lock
Labels: none

refactor: pull-through-cache woes
  nix/oci/k8s-tools/README.md
  nix/oci/k8s-tools/root/usr/local/bin/k8s_tools_tanzu.sh
Labels: none

fix: American products need American spelling
  README.md
Labels: Documentation

fix: American products need American spelling
  nix/oci/k8s-tools/root/usr/local/bin/k8s_tools_tanzu.sh
Labels: none

chore: Update depencencies
  flake.lock
  nix/oci/k8s-tools/derivations/tanzu/default.nix
Labels: none

fix: pull-through-cache (#111)
  README.md
  flake.lock
  nix/oci/k8s-tools/README.md
  nix/oci/k8s-tools/derivations/tanzu/default.nix
  nix/oci/k8s-tools/root/usr/local/bin/k8s_tools_tanzu.sh
Labels: Documentation

fix: Disable devShells default
  flake.nix
Labels: Nix

feat: Update carvel pkgs
  flake.lock
  nix/oci/carvel/carvel.nix
  nix/oci/carvel/default.nix
  nix/oci/k8s-tools/derivations/tanzu/default.nix
Labels: none

feat: Update carvel pkgs (#115)
  flake.lock
  nix/oci/carvel/carvel.nix
  nix/oci/carvel/default.nix
  nix/oci/k8s-tools/derivations/tanzu/default.nix
Labels: none

flake.lock: Update
  flake.lock
Labels: none

chore: nix flake update
  flake.lock
Labels: none

refactor: nix for 2024
  flake.lock
  nix/devshells/devenv/default.nix
Labels: none

refactor: nix for 2024
  flake.nix
Labels: Nix

refactor: nix for 2024
  devenv.lock
Labels: none

refactor: nix for 2024
  .github/workflows/nix-container.yaml
Labels: none

flake.lock: Update
  flake.lock
Labels: none

feat: WIP carvel updates
  flake.lock
  flake.nix
  nix/oci/_disabled_codestream-ci/default.nix
  nix/oci/_disabled_k8s-tools/default.nix
  nix/oci/_disabled_podman/default.nix
  nix/oci/_disabled_tanzu-podman/default.nix
  nix/oci/caddy/default.nix
  nix/oci/carvel/default.nix
  nix/oci/hugo/default.nix
  nix/oci/k8s-tools/default.nix
  nix/oci/k8s-tools/root/usr/local/bin/k8s_tools_tanzu.sh
  nix/oci/kaniko/default.nix
Labels: Nix

ci: Test CI
  .envrc
  flake.nix
Labels: Nix

ci: Test CI
  flake.lock
  flake.nix
  flake.nix.bak
Labels: Nix

ci: Test CI
  .github/workflows/devenv.yaml
  flake.lock
  flake.nix
  nix/devshells/devenv/default.nix
Labels: Nix

ci: Test CI
  .github/workflows/containers.yaml
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
Labels: none

ci: Test CI
  .github/workflows/devenv.yaml
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
  .github/workflows/devenv.yaml
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
  .github/workflows/devenv.yaml
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
  .github/workflows/devenv.yaml
Labels: none

flake.lock: Update
  flake.lock
Labels: none

refactor: 23.11 woes
  devenv.lock
  devenv/containers/_disabled_k8s-tools/derivations/tanzu/default-v1-2-0.nix
Labels: none

ci: Test CI
  .github/workflows/containers.yaml
  .github/workflows/devenv.yaml
Labels: none

ci: Test CI
  devenv.lock
  devenv.nix
  devenv.yaml
Labels: Nix

fix: revert shit
  devenv.lock
  devenv.nix
  devenv.yaml
Labels: Nix

fix: revert shit
  devenv.lock
  devenv.nix
  devenv.yaml
Labels: Nix

.github/labeler.yml:

##################################################
# Name: labeler.yml
# Description: Configuration for Label workflow
##################################################

# Add 'documentation' label to markdown file changes
Documentation:
  - docs/**
  - "*.md"

# Add 'go' label to all go file changes
Go:
  - "*.go"

# Add 'rust' label to all rust file changes
Rust:
  - "*.rs"

# Add 'docker' label to Dockerfile changes
Docker:
  - "Dockerfile"

# Add 'shell' label to bash shell scripts
Shell:
  - "*.sh"

# Add 'nix' label to Nix files
Nix:
  - "*.nix"
